.skills {
  padding: 4rem 0 5rem;
  background-color: #eaeaea;
  font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  max-width: 100%;
  background-color: #fff;
  border-bottom: 2px solid #ddd;
}

.skills h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: bold;
}

.skill {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 1rem;
  padding: 1rem 0;
  width: 80%;
}

.skillName {
  flex: 1;
  font-weight: bold;
  margin-right: 10px;
}

.progressBar {
  flex: 4;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
  position: relative;
}

.filled {
  height: 20px;
  background: linear-gradient(to right, #3498db, #9b59b6);
  border-radius: 10px;
}

.skillPercent {
  flex: 1;
  text-align: right;
  margin-left: 10px;
}

.p10 {
  width: 10%;
}

.p20 {
  width: 20%;
}

.p30 {
  width: 30%;
}

.p40 {
  width: 40%;
}

.p50 {
  width: 50%;
}

.p60 {
  width: 60%;
}

.p70 {
  width: 70%;
}

.p77 {
  width: 77%;
}

.p80 {
  width: 80%;
}

.p90 {
  width: 90%;
}

.p100 {
  width: 100%;
}